{{#if (user-agent "browser.isIE")}}
  <div class="ie-alert">
    <div>
      To avoid security vulerabilities (and best view this site) please update to a modern browser such as Chrome, Firefox or Edge.
    </div>
    <div>
      Given my audience, chances are if you're reading this it's because you care deeply about cross-browser compatability -- and so do I!
    </div>
    <div>
      Per the <a href="https://www.us-cert.gov/ncas/current-activity/2020/01/17/microsoft-releases-security-advisory-internet-explorer" target="_blank" rel="noopener">Department of Homeland Security</a>
      IE use is highly discouraged at this time.
    </div>
  </div>
{{/if}}
<div class="demo row">
  <div class="col small bottom">
    {{#sticky-element top=10 class="sticky" bottom=500}}
      <div class="mtn__1">
        {{#if media.isMobile}}
          <img src="/img/mtn1-mobile.png" alt="Drawing of a mountain">
        {{else}}
          <img src="/img/mtn1.png" alt="Drawing of a mountain">
        {{/if}}
      </div>
    {{/sticky-element}}
  </div>
  <div class="col small bottom">
    {{#sticky-element top=20 class="sticky" bottom=400}}
      <div class="mtn__2">
        {{#if media.isMobile}}
          <img src="/img/mtn2-mobile.png" alt="Drawing of a mountain">
        {{else}}
          <img src="/img/mtn2.png" alt="Drawing of a mountain">
        {{/if}}
      </div>
    {{/sticky-element}}
  </div>
  <div class="col small bottom">
    {{#sticky-element top=30 class="sticky" bottom=300}}
      <div class="mtn__3">
        {{#if media.isMobile}}
          <img src="/img/mtn3-mobile.png" alt="Drawing of a mountain">
        {{else}}
          <img src="/img/mtn3.png" alt="Drawing of a mountain">
        {{/if}}
      </div>
    {{/sticky-element}}
  </div>
  <div class="col small bottom">
    {{#sticky-element top=40 class="sticky" bottom=200}}
      <div class="mtn__4">
        {{#if media.isMobile}}
          <img src="/img/mtn4-mobile.png" alt="Drawing of a mountain">
        {{else}}
          <img src="/img/mtn4.png" alt="Drawing of a mountain">
        {{/if}}
      </div>
    {{/sticky-element}}
  </div>
  <div class="col small bottom">
    {{#sticky-element top=50 class="sticky" bottom=100}}
      <div class="mtn__5">
        {{#if media.isMobile}}
          <img src="/img/mtn5-mobile.png" alt="Drawing of a mountain">
        {{else}}
          <img src="/img/mtn5.png" alt="Drawing of a mountain">
        {{/if}}
      </div>
    {{/sticky-element}}
  </div>
  <div class="col small bottom">
    {{#sticky-element top=60 class="sticky" bottom=0}}
      <div class="mtn__6">
        <div class="typed">
          <span>Hey, welcome! I'm Abbie.</span>
        </div>
        <div class="typed">
          <span>I'm a Portland based Software Engineer and I build </span>
          {{typed-string strings=typedStrings loop=infinite typeSpeed=80 backSpeed=40 backDelay=500}}
        </div>
        {{#if media.isMobile}}
          <img src="/img/mtn6-mobile.png" alt="Drawing of a mountain">
        {{else}}
          <img src="/img/mtn6.png" alt="Drawing of a mountain">
        {{/if}}
      </div>
    {{/sticky-element}}
  </div>
</div>